body{
	width: 80%;
	background-image: url(../images/bg.jpg);
	margin: 0 10%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
}
p{
	margin-top: 0;
	color: #666;
}
h1{margin-top: 15%}
h4{margin-bottom: 0;}
table{
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
}