body{
	width: 80%;
	background-color: #c2c2c2;
	color: #666;
	margin: 10% 0;
}
h1{
	color: #000;
}
form{
	background-color: #fff;
}
th{
	background-color: #999;
	color: #fff;
}
table{
	border: 1px solid #000;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}